<div class="item item-form animate__animated animate__bounceInDown">
    <div class="card">
        <div class="card-body">

            <div class="container-form">
                <h1 class="title-form">Sign In to Your Account</h1>

                <form action="https://supply-chain-portal-home.vercel.app/home">
                    <label class="d-block mb-3">
                        <strong>Select Year:</strong>
                        <select name="" class="form-select d-block" required>
                            <option value=""></option>
                            <option value="2025" selected>2025</option>
                        </select>
                    </label>

                    <label class="d-block mb-3">
                        <strong>Login ID:</strong>
                        <input type="text" name="" class="form-control">
                    </label>

                    <label class="d-block mb-3">
                        <strong>Password:</strong>
                        <input type="password" name="" class="form-control">
                    </label>

                    <button type="submit" class="btn btn-submit">Sing In</button>
                </form>

                <div class="text-center">
                    <a class="text-neutral-colors-600 fw-bold" href="">Need Help?</a>
                </div>
            </div>

        </div>
    </div>
</div>
