<div class="item item-form animate__animated animate__bounceInDown">
    <div class="card">
        <div class="card-body">

            <div class="container-form">
                <h1 class="title-form">Sign In to Your Account</h1>

                <form action="https://supply-chain-portal-home.vercel.app/home">
                    <label class="d-block mb-3">
                        <strong>Select Year:</strong>
                        <select name="" class="form-select d-block" required>
                            <option value=""></option>
                            <option value="2025" selected>2025</option>
                        </select>
                    </label>

                    <label class="d-block mb-3">
                        <strong>Login ID:</strong>
                        <input type="text" name="id" class="form-control" required>
                    </label>

                    <label class="d-block mb-3 position-relative">
                        <strong>Password:</strong>
                        <input type="password" name="password" class="form-control" autocomplete="current-password" required>
                        <span class="btn-showPass" data-bs-toggle="tooltip" data-bs-title="show/hide">
                            <i class="bi bi-lock"></i>
                        </span>
                    </label>

                    <button type="submit" class="btn btn-submit">Sing In</button>
                </form>

                <div class="text-center">
                    <a class="text-neutral-colors-600 fw-bold" href="">Need Help?</a>
                </div>
            </div>

        </div>
    </div>
</div>

<style is:inline>
    .btn-showPass {
        position: absolute;
        margin-top: 10px;
        top: 50%;
        right: 0.25rem;
        transform: translateY(-50%);
    }
</style>

<script is:inline>
    function showAllPassword() {
        let btnShowAllPassword = document.querySelectorAll(".btn-showPass");

        btnShowAllPassword.forEach((item) => {
            item.addEventListener("click", () => {

                item.children[0].classList.toggle("bi-unlock");
                const inputPass = item.previousElementSibling;
                const type =
                    inputPass.getAttribute("type") === "password"
                        ? "text"
                        : "password";
                inputPass.setAttribute("type", type);
            });
        });
    }
    showAllPassword()
</script>
