.main-login{
    flex: 1;
    padding: 1rem;
}
.grid-login{
    display: grid;
    width: 100%;
    grid-template-columns: minmax(0, 1fr) minmax(300px ,450px);
    grid-template-rows: 1fr;
    grid-template-areas: "logo form";
    gap: 10px 30px;
    justify-items: stretch;
    align-items: center;
    align-content: start;
    height: 100%;
}
.grid-login .item {
    width: 100%;
    justify-self: stretch;
}
.grid-login .item-logo {
    grid-area: logo;
}
.grid-login .item-form {
    grid-area: form;
}

@media(max-width: 768px) {
    .grid-login{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "logo logo"
            "form form";
        gap: 2rem;
        align-items: baseline;
    }

    .grid-login .item-logo{
        text-align: center;
    }
    .grid-login .item-logo img{
        width: 100%;
        max-width: 400px;
    }
}

.title-form{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.container-form{
    padding: 2rem;
}

.btn-submit{
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s;
    background-color: var(--action-colors-defaul);
}
.btn-submit:hover{
    color: #fff;
    background-color: #000;
}


.footer-login{
    height: 56px;
    background-color: var(--brand-colors-300);
}
